header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    background: #23272a;
    z-index: 100;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.overlay__content a {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    text-decoration: underline;
}

.logo {
    margin-right: auto;
}

.overlay__content a {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

/* Mobile Nav */

.menu {
    display: none;
    margin: 0 12px;
}

.nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #131615;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
    width: 22%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    margin-left: 25px;
}

.overlay__content a {
    padding: 15px;
    font-size: 24px;
    display: block;
    transition: all 0.3s ease-in-out 0s;
    text-align: center;
}

.overlay__content a:hover,
.overlay__content a:focus {
    text-decoration: underline;
}

.nav-overlay .close {
    position: absolute;
    top: 75px;
    left: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}

.nav-overlay .close:hover {
    font-weight: 700;
    transition: ease-in-out 0.5s;
    
}

header .button {
    cursor: pointer;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    transition-property: background-color, color, box-shadow, mix-blend-mode;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    border: none;
    margin: 0px !important;
    text-decoration: none !important;
}

header .buttonSmall {
    border-radius: 28px;
    font-size: 16px;
    padding: 6px 22px;
    line-height: 22px;
}

header .buttonGrey {
    background: #131615;
    color: #fff;
}

header .buttonGrey:hover {
    background: #131615;
}

header .buttonWhite {
    background-color: #fff;
    color: #23272a;
}

header .buttonWhite:hover {
    color: #2b67a6;
}

header .buttonUser {
    margin-right: 25px;
    font-weight: 400;
}

header .smallAvatar {
    max-height: 24px;
    border-radius: 100px;
}

header .buttonSmallIcon {
    margin-right: 8px
}

header .buttonUserHover {
    display: none;
}

header .buttonUser:hover .buttonUserNormal {
    display: none;
}

header .buttonUser:hover .buttonUserHover {
    display: block;
}

@media screen and (max-height: 450px) {
    .nav-overlay a {
        font-size: 20px;
    }

    .nav-overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .menu {
        display: block;
    }

    .overlay--active {
        width: 100%;
    }

    header .menu {
        margin: 0 5px;
    }

    .logo img {
        max-width: 75px;
    }

    header .button {
        font-size: 14px;
    }

    header .buttonSmall {
        padding: 3px 12px;
    }

    header .smallAvatar {
        max-width: 18px;
    }

    .nav__links li {
        padding: 0px 5px;
    }
}

.logo img {
    max-width: 125px;
}